<%= form_with(model: donate, local: true) do |form| %>
  <% if donate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donate.errors.count, "error") %> prohibited this donate from being saved:</h2>

      <ul>
      <% donate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
