<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homeless Data NYC</title>
  </head>
  <body>
    <div class="home-description">
      <h4>New York City Homelessness: The Basic Facts</h4>
      <p>In recent years, homelessness in New York City has reached the highest levels since the Great Depression of the 1930s.</p>
      <p>In March 2018, there were 62,498 homeless people, including 15,176 homeless families with 22,801 homeless children, sleeping each night in the New York City municipal shelter system. Families make up three-quarters of the homeless shelter population.</p>
      <p>Over the course of City fiscal year 2017, more than 129,803 different homeless men, women, and children slept in the New York City municipal shelter system. This includes over 45,000 different homeless New York City children.</p>
    </div>
  </body>
</html>
